nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 10px;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    padding: 5px;margin: 5px;border-radius: 20px;border: 1px solid black; background-color: rgb(203, 212, 67); cursor: pointer;
}
.active{
    color: white;
}