<h1 style="text-align: center;margin-left: 50px;">pratices</h1>
<div style="text-align: center; margin:auto;">
    <ul>
        <li>
            <button class="btn"><a routerLinkActive="active" routerLink="/ControlFlow">ControlFlow</a></button>
        </li>
        <li>
            <button class="btn"><a routerLinkActive="active" routerLink="/DynamicStylingSignals">DynamicStyling &
                    Signals</a></button>
        </li>
        <li>
            <button class="btn"><a routerLinkActive="active" routerLink="/directives">directives</a></button>
        </li>
        <li>
            <button class="btn"><a routerLinkActive="active" routerLink="/form">form</a></button>
            
        </li>
        <li>
            <button class="btn"><a routerLinkActive="active" routerLink="/TemplateForm">Template Form</a></button>
            
        </li>
        <li>
            <button class="btn">

                <a routerLinkActive="active" routerLink="/parent">Parent-Child</a>
            </button>
        </li>
        <li>
            <button class="btn">
                <a routerLinkActive="active" routerLink="/passing">Passing</a>
            </button>
        </li>
        <li>
            <button class="btn">
                <a routerLinkActive="active" routerLink="/pipes">pipes</a>
            </button>
        </li>
    </ul>



</div>