
.btn {
    
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: rgb(255, 2, 2);
    cursor: pointer;
    display: inline-block;
}


.btn:hover {
    background-color: rgb(106, 179, 235);
}

ul li,
ul li a {
    color: white;
    list-style: none;
    text-decoration: none; 
}
