<div  style="text-align: center;">
        <h1>Home Page</h1>
            <!-- <li>
                <a  [routerLink]="['profile',{name:'manish'}]">Go To Profile</a>
            </li> -->
            <br>
            <button (click)="gotoprofile('mani')">Profile</button>
            <br>
            @for (item of users; track item.id) {
                <ul>
                 <li style="list-style: none;">
                    <a  routerLink="user/{{item.id}}/{{item.name}}">{{item.name}}</a>
                 </li>
                </ul>
                
            }

    </div>
